 body {
  background: #ccc url("../assets/images/hypnotize.png") repeat;
  height: 100%;
}

#index main {
  padding-right: 100px;
  padding-left: 100px;

}
#index
h2,
h3 {
  color:#4aaaa5;
  padding:0 0 5px 0;
}

#index a {
  cursor:pointer;
}

#index .myheader {
  margin:0 0 50px 0 ;
}

#index .color {
  background-color: #666666;
  border-top:8px solid #4aaaa5;
  color:#fff;
}

#index .ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

#index .ch-grid:after,
.ch-item:before {
  content: '';
  display: table;
}

#index .ch-grid:after {
  clear: both;
}

#index .ch-grid li {
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}


/*THE FIRST EFFECT CODE  */

#index .ch-item {
  width: 100%;
  height: 100%;
  /* border-radius: 50%; */
  overflow: hidden;
  position: relative;
  cursor: default;
  box-shadow:
  inset 0 0 0 16px rgba(255,255,255,0.6),
  0 1px 2px rgba(0,0,0,0.1);
  transition: all 0.4s ease-in-out;
}
#index .ch-img-1 {
  background-image: url("../assets/images/download.png");
}
#index .ch-img-2 {
  background-image: url("../assets/images/download1.jpg");
}
#index .ch-img-3 {
  background-image: url("../assets/images/collab.png");
}
#index .ch-img-4 {
  background-image: url("../assets/images/belief.jpg");
}

#index .ch-info {
  position: absolute;
  background: rgba(63,147,147, 0.8);
  width: inherit;
  height: inherit;
  border-radius: 0%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);
}


#index .ch-info h4 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 45px 0 0 0;
  height: 140px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow:
  0 0 1px #fff,
  0 1px 2px rgba(0,0,0,0.3);
}

#index .ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
  opacity: 0;
  transition: all 1s ease-in-out 0.4s;
}


#index .ch-info p a {
  display: block;
  color: rgba(255,255,255,0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

#index .ch-info p a:hover {
  color: rgba(255,242,34, 0.8);
}

#index .ch-item:hover {
  box-shadow:
  inset 0 0 0 1px rgba(255,255,255,0.1),
  0 1px 2px rgba(0,0,0,0.1);
}


#index .ch-item:hover .ch-info {
  transform: scale(1);
  opacity: 1;
}

#index .ch-item:hover .ch-info p {
  opacity: 1;
}

/* .outline {
border:2px dashed purple;
} */

/* .fb {
display: flex;
justify-content:space-around;  } */

#index blockquote ~ p {
  font-style: italic;
}


#index .custom2 {
  font-size: 18px;
}

#index .custom1 {
  padding-right:20px;
}

#index hr {
  border-color: #ccc;
  width: 90%;
  margin-top: 0px;
}

#index .imageresize {
width:50px;
height: 50px;
}










#port main {
  padding-right: 100px;
  padding-left: 100px;

}
#port
h2,
h3 {
  color:#4aaaa5;
  padding:0 0 5px 0;
}

#port a {
  cursor:pointer;
}

#port .myheader {
  margin:0 0 50px 0 ;
}

#port .color {
  background-color: #666666;
  border-top:8px solid #4aaaa5;
  color:#fff;
}


#port blockquote ~ p {
  font-style: italic;
}


#port .custom2 {
  font-size: 18px;
}

#port .custom1 {
  padding-right:20px;
}

#port hr {
  border-color: #ccc;
  width: 90%;
  margin-top: 0px;
}

#port .imageresize {
width:50px;
height: 50px;
}

#port .expandArea {
  width: 600px;
  height: 250px;
}

#port label {
  margin:10px 0 5px 0;
}

input[type="submit"] {
  margin:10px 0 20px 0;
}

label,
input {
  display: block;
}








#reverse main {
  padding-right: 100px;
  padding-left: 100px;

}
#reverse
h2,
h3 {
  color:#4aaaa5;
  padding:0 0 5px 0;
}

#reverse a {
  cursor:pointer;
}

#reverse .myheader {
  margin:0 0 50px 0 ;
}

#reverse .color {
  background-color: #666666;
  border-top:8px solid #4aaaa5;
  color:#fff;
}


#reverse blockquote ~ p {
  font-style: italic;
}


#reverse .custom2 {
  font-size: 18px;
}

#reverse .custom1 {
  padding-right:20px;
}

#reverse hr {
  border-color: #ccc;
  width: 90%;
  margin-top: 0px;
}

#reverse .imageresize {
width:50px;
height: 50px;
}

#reverse .expandArea {
  width: 600px;
  height: 250px;
}

#reverse label {
  margin:10px 0 5px 0;
}
